<mat-card>
  <mat-card-title>
    <h1>AgloView</h1>
    <h3 *ngIf="isUser">Page de connexion pour les utilisateurs</h3>
    <h3 *ngIf="isAnnonceur">Page de connexion pour les annonceurs</h3>
    <h3 *ngIf="isAdmin">Page de connexion pour les administrateur</h3>
  </mat-card-title>

  <mat-card-content>
    <!-- Login Form -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="text" (keyup.enter)="connection()" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" (keyup.enter)="connection()" required>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="connection()">Connect</button>

<!--    <app-error-message #errorMessageComponent></app-error-message>-->
  </mat-card-content>

  <mat-card-footer id="formFooter">
    <!--    Password forgotten launch treatment-->
    <a class="underlineHover" routerLink="/recoverPassword">Password Forgotten?</a>
    <br>
    <span>Cliquez ici si vous êtes un </span>
    <a *ngIf="!isUser" class="underlineHover" (click)="setRole('user')">utilisateur</a>
    <span *ngIf="isAdmin"> / </span>
    <a *ngIf="!isAnnonceur" class="underlineHover" (click)="setRole('annonceur')">annonceur</a>
    <span *ngIf="!isAdmin"> / </span>
    <a *ngIf="!isAdmin" class="underlineHover" (click)="setRole('admin')">administrateur</a>
  </mat-card-footer>
</mat-card>
