<app-error-message #errorMessageComponent></app-error-message>

<div class="ButtonDiv">
  <button mat-raised-button color="primary" (click)="CreateAnnonce()"> Créer une Annonce</button>
</div>

<div class="d-flex flex-wrap" style="justify-content: center;">
  <mat-card *ngFor="let annonce of annonces" class="Annonce">
    <div class="d-flex justify-content-between">
      <mat-icon  id="UpdateAnnonceIcon" (click)="UpdateAnnonce(annonce._id)">build</mat-icon>
      <mat-icon id="DeleteAnnonceIcon" (click)="DeleteAnnonce(annonce._id)">delete_forever</mat-icon>
    </div>

    <mat-card-header>
      <h3 style="color: #f44336; font-weight: bold">{{annonce.title}}</h3>
    </mat-card-header>
    <mat-card-content>
      <div>{{annonce.text}}</div>

      <br>

      <mat-chip-list>
        <mat-chip *ngFor="let tag of annonce.tags" selected color="primary">{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>




