<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">

    <div class="sidebar-header nav">
      <a class=" nav-link" routerLink="/UserAccount">
        <img src="assets/parametre.png" width="30"  alt=""/>
      </a>
      <a class=" nav-link text-center" routerLink="/UserAccount">
        <img src="assets/profil.png" width="100"  alt=""/>
      </a>
      <a class=" nav-link" style="cursor: pointer" (click)="auth.logout()">
        <img src="assets/logout_icon_151219.png" width="30"  alt=""/>
      </a>
    </div>

    <ul class="list-unstyled components text-center">
      <p>{{auth.getUserName()}}</p>

      <nav class="nav navbarp ">
        <a class="nav-item nav-link">
          <div *ngFor="let playlist of playlists" ngbDropdown class="d-inline-block">
            <button class="btn buttonPlay " id="dropdownBasic1" ngbDropdownToggle>{{playlist.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let video of playlist.videos" ngbDropdownItem (click)="getVideoLink(playlist, video)">{{getVideoTitle(video)}}</button>
            </div>
          </div>
        </a>
        <a class="nav-item nav-link align-self-end" >
          <img src="assets/plus.png" width="40"  alt=""/>
        </a>
      </nav>


      <div class="position-absolute bottom-0 text-center">
        <a class="nav-item nav-link" >
          <img src="assets/Capture.PNG" width="75"  alt=""/>
        </a>
      </div>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <app-error-message #errorMessageComponent></app-error-message>

    <nav class="nav navbar nav-pills nav-justified nav-fill">
      <a class="nav-item nav-link" (click)="getPreviousVideo()" >
        <img src="assets/fleche.png" width="75"  alt=""/>
      </a>
      <a class="nav-item nav-link" >
        <img *ngIf="!loop" src="assets/loop.png" width="75" (click)="loop = !loop"  alt=""/>
        <img *ngIf="loop" src="assets/loopvert.png" width="75" (click)="loop = !loop"  alt=""/>
      </a>
      <a class="nav-item nav-link" (click)="random = !random" >
        <img *ngIf="!random" src="assets/alea.png" width="75"  alt=""/>
        <img *ngIf="random" src="assets/aleavert.png" width="75"  alt=""/>
      </a>
      <a class="nav-item nav-link" (click)="getNextVideo()" >
        <img src="assets/fleche-R.png" width="75"  alt=""/>
      </a>
    </nav>

    <mat-card *ngIf="displayAnnonce == true" class="alert" >
      <mat-label>{{getAnnonceText(annonce)}}</mat-label>
      <mat-icon class="closebtn" (click)="closeAnnonce()">close</mat-icon>
    </mat-card>

    <div id="player"></div>

    <mat-card *ngIf="displayAnnonce == true" class="alert" >
      <mat-label>{{getAnnonceText(annonce)}}</mat-label>
      <mat-icon class="closebtn" (click)="closeAnnonce()">close</mat-icon>
    </mat-card>
  </div>
</div>

