#resetContainer {
  max-width: 30%;
  max-height: 100%;
  margin-top: 10%;
  margin-left: 37.5%;

  .mat-form-field {
    width: 100%;
  }
}

#passwordConfirmation {
  background: green;
  color: white;
  margin: 20px;
  text-align: center;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.form-group {
  margin-bottom: 10px;
}

#resetFormResults {
  margin-bottom: 10px;
}

#loginRedirect {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;

  a {
    color: #5E89FF;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
}
//

/* ANIMATIONS */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #5E89FF;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}
