<mat-card id="resetContainer" class="popupGroupField">
  <mat-card-header>
    <mat-card-title>Enter your new password</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="frmPassword" *ngIf="validToken">
      <div class="form-group">
        <mat-form-field>
          <mat-label [ngClass]="frmPassword.controls['password'].invalid ? 'text-danger' : ''">Password</mat-label>
          <input matInput id="password" formControlName="password" [type]="hide ? 'password' : 'text'">

          <button mat-icon-button matSuffix
                  (mousedown) = "hide = false"
                  (mouseup)   = "hide = true"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <label class="col"
               [ngClass]="frmPassword.controls['password'].hasError('required') ||
               frmPassword.controls['password'].hasError('minlength')
               ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{
            frmPassword.controls['password'].hasError('required') ||
            frmPassword.controls['password'].hasError('minlength')
              ? 'cancel' : 'check_circle'
            }}
          </i>
          Must have a least 8 characters
        </label>
        <br>

        <label class="col"
               [ngClass]="frmPassword.controls['password'].hasError('required') ||
               frmPassword.controls['password'].hasError('hasNumber')
               ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{
            frmPassword.controls['password'].hasError('required') ||
            frmPassword.controls['password'].hasError('hasNumber')
              ? 'cancel' : 'check_circle'
            }}
          </i>
          Must contain at least 1 number
        </label>
        <br>

        <label class="col"
               [ngClass]="frmPassword.controls['password'].hasError('required') ||
               frmPassword.controls['password'].hasError('hasCapitalCase')
               ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{
            frmPassword.controls['password'].hasError('required') ||
            frmPassword.controls['password'].hasError('hasCapitalCase')
              ? 'cancel' : 'check_circle'
            }}
          </i>
          Must contain at least 1 in Capital Case
        </label>
        <br>

        <label class="col"
               [ngClass]="frmPassword.controls['password'].hasError('required') ||
               frmPassword.controls['password'].hasError('hasSmallCase')
               ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{
            frmPassword.controls['password'].hasError('required') ||
            frmPassword.controls['password'].hasError('hasSmallCase')
              ? 'cancel' : 'check_circle'
            }}
          </i>
          Must contain at least 1 Letter in Small Case
        </label>
        <br>

        <label class="col"
               [ngClass]="frmPassword.controls['password'].hasError('required') ||
               frmPassword.controls['password'].hasError('hasSpecialCharacters')
               ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{
            frmPassword.controls['password'].hasError('required') ||
            frmPassword.controls['password'].hasError('hasSpecialCharacters')
              ? 'cancel' : 'check_circle'
            }}
          </i>
          Must contain at least 1 Special Character (? ! . * ' ')
        </label>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label [ngClass]="frmPassword.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm Password</mat-label>
          <input matInput id="confirmPassword" formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'">
          <button mat-icon-button matSuffix
                  (mousedown) = "hideConfirm = false"
                  (mouseup)   = "hideConfirm = true"
                  [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <label class="text-danger" *ngIf="frmPassword.controls['confirmPassword'].hasError('required')">
          Password is Required!
        </label>

        <label class="text-danger" *ngIf="frmPassword.controls['confirmPassword'].hasError('noPasswordMatch')">
          Password do not match
        </label>
      </div>

      <div class="form-group ButtonFooter">
        <button mat-raised-button color="primary" [disabled]="frmPassword.invalid" type="submit" (click)="changePassword()">Change Password</button>
      </div>
    </form>

    <div id="resetFormResults">
      <app-error-message #errorMessageComponent></app-error-message>

      <mat-card *ngIf="passwordChanged && validToken" id="passwordConfirmation">
        Password changed successfully. Return to login page in 5 seconds
      </mat-card>
    </div>
  </mat-card-content>

  <mat-card-footer id="loginRedirect">
    <a class="underlineHover" routerLink="/login">Return to login page</a>
  </mat-card-footer>
</mat-card>
